<!-- your html code here -->
<div class="container bg-white  pt-3 pb-3 mt-4 mb-4 d-flex">
    <div class="align-self-start"> <img src="/website/assets/img/2.jpg" class=" rounded-circle rounded-4" alt="...">
    </div>
    <div class="aling-self-end p-2">
        <h2>The Second Heading <span class="text-secondary"> Is Prestty Cool Too. </span></h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
    </div>

</div>